html{
  height:100%;
  background-color: cadetblue;
  margin: 0 auto;
}

h1{
  padding:5rem 0 0;
  text-align: center;
}
img{
  width: 2rem;
  cursor: pointer;
}
img:hover{
  opacity: 0.5;
  transition:0.5s;
}
.lengthName{
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
.breakLength{
  margin: 0 1rem;
}
.sessionLength{
  margin: 0 1rem;
}
.lengthControl{
  margin-top: 0.3rem;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.breakLengthControl{
  margin: 0 1em;
  display: flex;
}
.sessionLengthControl{
  margin: 0 1em;
  display: flex;
}
.lengthControl img{
  margin: 0 .2rem;
}
.sessionClock{
  text-align: center;
  margin: 3.5rem auto 1rem;
  width: 10rem;
  padding: 1rem;
  border-style: groove;
  border-radius: 1rem;
  border-color: darkslategray;
}
.clockSubject{
  font-size: 25px;
  opacity: 0.8;
}
.clock{
  font-size: 40px;
}
.footer{
  color: antiquewhite;
  opacity: 0.3;
  font-size: 5px;
  text-align: center;
}
.buttonGroup{
  text-align: center;
}
